<launch>
  <node name="octomap_server_ext_node" pkg="octomap_server_ext" type="octomap_server_ext_node" output="screen">
    <param name="map_file" value="" type="str" />
    <param name="resolution" value="0.2" type="double" />
    <param name="sensor_model/max_range" value="15.0" type="double" />
    <param name="use_only_surface_voxels_for_score" value="true" type="bool" />
    <param name="score_per_voxel" value="0.001" type="double" />
    <param name="score_per_surface_voxel" value="1.0" type="double" />
    <param name="voxel_free_threshold" value="0.25" type="double" />
    <param name="voxel_occupied_threshold" value="0.75" type="double" />
    <param name="surface_voxel_filename" value="/home/t-behepp/Documents/Unreal Projects/CustomScenes/Export/surface_voxels.txt" type="str" />
  </node>
</launch>

