<launch>
  <node name="octomap_server_ext" pkg="octomap_server_ext" type="octomap_server_ext_node" output="screen">

    <!-- enable debug level logging -->
    <param name="log_debug" value="true" type="bool" />

    <!-- initial map file ("" for empty map) -->
    <!-- <param name="map_file" value="/home/t-behepp/Documents/Unreal Projects/CustomScenes/Export/mapfile.ot" type="str" /> -->
    <param name="map_file" value="/home/t-behepp/rl_reconstruct/mapfile.ot" type="str" />

    <!-- voxel size -->
    <param name="resolution" value="0.2" type="double" />

    <!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
    <param name="frame_id" type="string" value="map" />

    <!-- maximum range to integrate (speedup!) -->
    <param name="sensor_model/max_range" value="15.0" type="double" />

    <!-- data source to integrate (PointCloud2) -->
    <!-- <remap from="cloud_in" to="/narrow_stereo/points_filtered2" /> -->

    <!-- score/reward per voxel -->
    <param name="score_per_voxel" value="0.001" type="double" />

    <!-- score/reward per surface voxel -->
    <param name="score_per_surface_voxel" value="1.0" type="double" />

    <!-- occupancy threshold below which a voxel is considered to be free -->
    <param name="voxel_free_threshold" value="0.25" type="double" />

    <!-- occupancy threshold above which a voxel is considered to be occupied -->
    <param name="voxel_occupied_threshold" value="0.75" type="double" />

    <!-- whether to only consider surface voxels for score and reward -->
    <param name="use_only_surface_voxels_for_score" value="false" type="bool" />

    <!-- name of file with surface voxel positions -->
    <param name="surface_voxel_filename" value="/home/t-behepp/Documents/Unreal Projects/CustomScenes/Export/surface_voxels_debug.txt" type="str" />

  </node>
</launch>
